APP_NAME=
APP_VERSION=
APP_ENV=
DEBUG=

HOST=
PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_HOST=
REDIS_PORT=

LOG_LEVEL=

GITLAB_WEBHOOK_SECRET=

GITLAB_URL=https://gitlab.com
GITLAB_ACCESS_TOKEN=

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash